footer .redes-sociales {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

footer .redes-sociales a {
  display: block;
  width: 60px;
  height: 60px;
  background: #000;
  color: #fff;
  margin: 20px;
  text-align: center;
  border-radius: 100px;
  transition: 0.3s ease all;
}

footer .redes-sociales .twitter {
  background: $color-twitter;
}
footer .redes-sociales .facebook {
  background: $color-facebook;
}
footer .redes-sociales .instagram {
  background: $color-instagram;
}

footer .redes-sociales a i {
  font-size: $font-size;
  line-height: 60px;
}

footer .contenedor-icono:hover a {
  animation: icono 0.5s ease;
}

@keyframes icono {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

footer .author {
  margin-bottom: 40px;
  text-align: center;
}

footer .author a {
  color: $color-primary;
}
footer .author a:hover {
  text-decoration: underline;
}
