header {
  padding: 40px 0;
}

header .logo {
  text-align: center;
  margin-bottom: 40px;
}

header .logo p {
  color: $color-gray;
}

header form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

header .barra-busqueda {
  width: 70%;
  height: 40px;
  line-height: 40px;
  background: $color-white;
  padding: 0 20px;
  border-radius: 100px;
  border: none;
  text-align: center;
}

header .categorias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header .categorias a {
  color: $color-gray;
  margin: 10px 20px;
  font-weight: 700;
}

header .categorias a.activo {
  color: $color-black;
}
