// Tipografías
$font-family: "Ubuntu", "Arial";
$icon-size: 2rem;
$font-size: 1.2rem;

// Colores
$color-white: #fff;
$color-ligth: #f3f3f3;
$color-gray: #9b9b9b;
$color-black: #000;
$color-twitter: #1da1f2;
$color-facebook: #3b5998;
$color-instagram: #c13584;
$color-primary: #6d28d9;

// Responsive
$tablet: 800px;
$desktop: 1280px;

// Medidas generales
$padding-section: 40px;
$padding-box: 2rem;
$padding-soft: 1rem;
$margin-box: 20px;