@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import "variables";
@import "header";
@import "footer";
@import "grid";

body {
  background: $color-ligth;
  font-family: $font-family;
  font-size: $font-size;
}

a {
  text-decoration: none;
}

main, footer {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color-black, 0.9);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay.activo {
  display: flex;
}

.overlay img {
  max-width: 100%;
  height: 50vh;
  border-radius: 10px;
}

.overlay .descripcion {
  display: block;
  background: $color-white;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  max-width: 50%;
}

.contenedor-img {
  position: relative;
}

.overlay #btn-cerrar-popup {
  background: none;
  color: $color-white;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -25px;
  top: -25px;
}
